body {
    background-color: rgb(232, 219, 202);
    color:rgb(58, 46, 135);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
